In [1]:
# Ривер-Парк Кутузовский. Балансовый лист и/или расчет чистых активов

# 2023-05-17 15:00 срд Фр вар 1. Создал файл, но пока отложил. 18:30 сделал по Капитал включительно. Остались раздел 4 и 5

# 2023-05-19 11:15 птн Фр вар 2. Продолжаю

# 16:20 вар 3 Сокращаю вывод баланса

# 2023-05-29 09:50 птн Фр вар 3.

# 2023-08-29 11:10 втр Фр вар 5.

In [2]:
# обявляю каталог где будут отчеты
import os

os.chdir('/home/sm360/Documents/Dev/Reports')
os.getcwd()

'/home/sm360/Documents/Dev/Reports'

In [3]:
# закгружаю библиотеки
import numpy as np
import pandas as pd
import datetime
from datetime import datetime, date, timedelta
import xlsxwriter
import re

from dbfread import DBF

# библиотека для работы с датами и днями
from pandas.tseries.offsets import MonthEnd

In [4]:
# создаю df с вход остатками по счетам на 31 дек 2022

data = [{'DATA': '2022-12-31', 'SD': '01', 'SK': '00', 'SUMMA': 5259638557}, 
        {'DATA': '2022-12-31', 'SD': '00', 'SK': '02', 'SUMMA': 911568350}, 
        {'DATA': '2022-12-31', 'SD': '08','SK': '00', 'SUMMA': 5250651599}, 
        {'DATA': '2022-12-31', 'SD': '09','SK': '00', 'SUMMA': 1123502117},
        
        {'DATA': '2022-12-31', 'SD': '10','SK': '00', 'SUMMA': 221922},
        {'DATA': '2022-12-31', 'SD': '19','SK': '00', 'SUMMA': 590559530},
        {'DATA': '2022-12-31', 'SD': '20','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '43','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '44','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '46','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '51','SK': '00', 'SUMMA': 9179008},
        {'DATA': '2022-12-31', 'SD': '52','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '55','SK': '00', 'SUMMA': 80000000},

        {'DATA': '2022-12-31', 'SD': '58','SK': '00', 'SUMMA': 3755212100},
        {'DATA': '2023-01-01', 'SD': '58','SK': '00', 'SUMMA': 1}, # что бы было 

        {'DATA': '2022-12-31', 'SD': '60.2','SK': '00', 'SUMMA': 1058516002},
        {'DATA': '2022-12-31', 'SD': '62.1','SK': '00', 'SUMMA': 2432817},        
        {'DATA': '2022-12-31', 'SD': '00','SK': '63', 'SUMMA': 193777},
        {'DATA': '2023-01-01', 'SD': '00','SK': '63', 'SUMMA': 1},  # что бы было 


        {'DATA': '2022-12-31', 'SD': '00','SK': '80', 'SUMMA': 300000000},
        {'DATA': '2022-12-31', 'SD': '00','SK': '83', 'SUMMA': 339904120},
        {'DATA': '2022-12-31', 'SD': '84','SK': '00', 'SUMMA': 186692101},

        {'DATA': '2023-01-01', 'SD': '00','SK': '80', 'SUMMA': 0},
        {'DATA': '2023-01-01', 'SD': '00','SK': '82', 'SUMMA': 0},
        {'DATA': '2023-01-01', 'SD': '00','SK': '83', 'SUMMA': 0},
        {'DATA': '2023-01-01', 'SD': '00','SK': '84', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '00','SK': '90', 'SUMMA': 1},   # что бы было 
        {'DATA': '2022-12-31', 'SD': '00','SK': '91', 'SUMMA': 1},
        {'DATA': '2022-12-31', 'SD': '00','SK': '99', 'SUMMA': 1},

        {'DATA': '2022-12-31', 'SD': '00','SK': '67', 'SUMMA': 9532159189},
        {'DATA': '2022-12-31', 'SD': '00','SK': '77', 'SUMMA': 1069032210},

        {'DATA': '2022-12-31', 'SK': '00','SK': '60.1', 'SUMMA': 411476311},
        {'DATA': '2022-12-31', 'SK': '00','SK': '62.2', 'SUMMA': 61876000},

        {'DATA': '2022-12-31', 'SD': '68','SK': '00', 'SUMMA': 1458655},
        {'DATA': '2022-12-31', 'SD': '00','SK': '69', 'SUMMA': 1173891},
        {'DATA': '2022-12-31', 'SD': '70','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '71','SK': '00', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '00','SK': '75', 'SUMMA': 0},
        {'DATA': '2022-12-31', 'SD': '00','SK': '76', 'SUMMA': 4694971410},
        {'DATA': '2022-12-31', 'SD': '00','SK': '96', 'SUMMA': 5035885},
        
        {'DATA': '2022-12-31', 'SD': '97','SK': '00', 'SUMMA': 9326736},


        ]
       
df0 = pd.DataFrame(data)

df0['DATA'] = pd.to_datetime(df0['DATA'])

df0

         DATA    SD    SK       SUMMA
0  2022-12-31    01    00  5259638557
1  2022-12-31    00    02   911568350
2  2022-12-31    08    00  5250651599
3  2022-12-31    09    00  1123502117
4  2022-12-31    10    00      221922
5  2022-12-31    19    00   590559530
6  2022-12-31    20    00           0
7  2022-12-31    43    00           0
8  2022-12-31    44    00           0
9  2022-12-31    46    00           0
10 2022-12-31    51    00     9179008
11 2022-12-31    52    00           0
12 2022-12-31    55    00    80000000
13 2022-12-31    58    00  3755212100
14 2023-01-01    58    00           1
15 2022-12-31  60.2    00  1058516002
16 2022-12-31  62.1    00     2432817
17 2022-12-31    00    63      193777
18 2023-01-01    00    63           1
19 2022-12-31    00    80   300000000
20 2022-12-31    00    83   339904120
21 2022-12-31    84    00   186692101
22 2023-01-01    00    80           0
23 2023-01-01    00    82           0
24 2023-01-01    00    83           0
25 2023-01-01    00    84           0
26 2022-12-31    00    90           1
27 2022-12-31    00    91           1
28 2022-12-31    00    99           1
29 2022-12-31    00    67  9532159189
30 2022-12-31    00    77  1069032210
31 2022-12-31   NaN  60.1   411476311
32 2022-12-31   NaN  62.2    61876000
33 2022-12-31    68    00     1458655
34 2022-12-31    00    69     1173891
35 2022-12-31    70    00           0
36 2022-12-31    71    00           0
37 2022-12-31    00    75           0
38 2022-12-31    00    76  4694971410
39 2022-12-31    00    96     5035885
40 2022-12-31    97    00     9326736

In [5]:
# выставляю значения по умолчанию для числел и отображения количества строк
pd.set_option('display.float_format', '{:.1f}'.format)
# pd.set_option('display.max_rows', None)

In [6]:
# read dbf
db = DBF('/home/sm360/Documents/Dev/Base/kut230515.DBF') # 

# конвертация в pandas df
df1 = pd.DataFrame(db)


# смотрю информацию по загруженному
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2647 entries, 0 to 2646
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATA      2647 non-null   object
 1   SD        2647 non-null   object
 2   SKD1      2647 non-null   object
 3   SKD1_COD  2647 non-null   object
 4   SKD1_TIP  2647 non-null   object
 5   SKD2      2647 non-null   object
 6   SKD2_COD  2647 non-null   object
 7   SKD2_TIP  2647 non-null   object
 8   SKD3      2647 non-null   object
 9   SKD3_COD  2647 non-null   object
 10  SKD3_TIP  2647 non-null   object
 11  SK        2647 non-null   object
 12  SKK1      2647 non-null   object
 13  SKK1_COD  2647 non-null   object
 14  SKK1_TIP  2647 non-null   object
 15  SKK2      2647 non-null   object
 16  SKK2_COD  2647 non-null   object
 17  SKK2_TIP  2647 non-null   object
 18  SKK3      2647 non-null   object
 19  SKK3_COD  2647 non-null   object
 20  SKK3_TIP  2647 non-null   object
 21  SUMMA     2647 non-null   float64
 22  VALSUMMA  2647 non-null   float64
 23  VALUTA    2647 non-null   object
 24  INN       2647 non-null   object
 25  PODR_DT   2647 non-null   object
 26  PODR_KT   2647 non-null   object
 27  HH        2647 non-null   object
 28  MM        2647 non-null   object
 29  SS        2647 non-null   object
dtypes: float64(2), object(28)
memory usage: 620.5+ KB

In [7]:
# соед двух df

df = pd.concat([df0, df1])

# df = pd.merge(df0, df1, how='outer')

df

,DATA,SD,SK,SUMMA,SKD1,SKD1_COD,SKD1_TIP,SKD2,SKD2_COD,SKD2_TIP,...,SKK3_COD,SKK3_TIP,VALSUMMA,VALUTA,INN,PODR_DT,PODR_KT,HH,MM,SS
0,2022-12-31 00:00:00,01,00,5259638557.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-12-31 00:00:00,00,02,911568350.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-12-31 00:00:00,08,00,5250651599.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-12-31 00:00:00,09,00,1123502117.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-12-31 00:00:00,10,00,221922.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2642,2023-05-12,60.2,51,650000.0,АЙНО ООО,5010055696,Контрагенты,Дог. №АК-01/04-23 от 01.04.2023 Модель объекта...,00-000229,Договоры,...,,ИсточникиФинансирования,0.0,,7715865510,Основное подразделение,Основное подразделение,,,
2643,2023-05-12,76.7.2,51,1617569.6,ЭВИНДРИМ ЛИМИТЕД филиал,9909434756,Контрагенты,Дог. №БФ-4 от 01.11.2022 Аренда офиса продаж,БП-001659,Договоры,...,,ИсточникиФинансирования,0.0,,7715865510,Основное подразделение,Основное подразделение,,,
2644,2023-05-12,51,76.9,60000.0,СБЕРБАНК РОССИИ ПАО (Расчетный),000000008,БанковскиеСчета,4.1.2.3 Прочие поступления,БП-000259/БП-000561/БП-000562/БП-000573/БП-000576,СтатьиДвиженияДенежныхСредств,...,,ДокументыРасчетовСКонтрагентом,0.0,,7715865510,Основное подразделение,Основное подразделение,,,
2645,2023-05-12,51,67.1,2526843.7,СБЕРБАНК РОССИИ ПАО (Расчетный),000000008,БанковскиеСчета,2.1.5 Поступление по кредиту Эскроу,БП-000260/БП-000362/БП-000363/БП-000368,СтатьиДвиженияДенежныхСредств,...,,,0.0,,7715865510,Основное подразделение,Основное подразделение,,,
2646,2023-05-15,008.1,,8934063.2,Михайлов Сергей Николаевич,575401462176,Контрагенты,КП1-2/СЗРПК-2/217-124ДДУ от 10.05.2023 0:00:00,00-000225,Договоры,...,,,0.0,,7715865510,,,,,

In [8]:
# создаю столбец в тыс.руб.
df['ST'] = (df['SUMMA']/1000000).round(2)

In [9]:
# Поле ДАТА в формат дата


# вот так что бы не перепутывались день и месяц местами
df['DATA'] = pd.to_datetime(df['DATA'], dayfirst=True)


# df['DATA'][-5:]

In [10]:
# создаю столбцы с годом, месяцем и днем
df['Год']=pd.DatetimeIndex(df['DATA']).year.astype('object')
df['Месяц'] = pd.DatetimeIndex(df['DATA']).month.astype('object')
df['День'] = pd.DatetimeIndex(df['DATA']).day.astype('object')

df['Квартал'] = pd.DatetimeIndex(df['DATA']).quarter.astype('object')

#только год и месяц
df['YM'] = df['DATA'].dt.to_period('M')

In [11]:
df['SD'].unique()

array(['01', '00', '08', '09', '10', '19', '20', '43', '44', '46', '51',
       '52', '55', '58', '60.2', '62.1', '84', nan, '68', '70', '71',
       '97', '19.76', '08.76', '01.3', '76.7.1', '008.1', '91.2',
       '68.1.1', '76.5', '76.7.2', '60.1', '55.3', '19.4', '20.1',
       '69.11', '69.1', '69.3.1', '69.2.7', '10.6', '19.3', '76.АВ',
       '002', '', 'МЦ.4', '10.10', '10.9', '96.1.2', '96.1.1', '76.9',
       '90.3', '76.3', '90.2.1', '99.1.1', '91.9', '99.2.Т', '77',
       '99.2.О', '71.1', '69.9', '26', '90.8.1', '62.2', '008.2', '99.9',
       '68.2', '68.1.2', '90.9'], dtype=object)

### -----------------------------------

## 1. Внеборотные активы

### 1.01 Основные средства

In [12]:
df_01 = df[(((df['SD'].str[:2]=='01') | (df['SK'].str[:2]=='01')) | 
            ((df['SD'].str[:2]=='02') | (df['SK'].str[:2]=='02'))

            )]
df_01



df_01['Наименование'] = ''

# 1. Внеоборотные активы
df_01.loc[df_01['SD'].str[:2]=='01', 'Наименование'] = '1.01 Основные срества'
df_01.loc[df_01['SK'].str[:2]=='01', 'Наименование'] = '1.01 Основные срества'
df_01.loc[df_01['SD'].str[:2]=='02', 'Наименование'] = '1.01 Основные срества'
df_01.loc[df_01['SK'].str[:2]=='02', 'Наименование'] = '1.01 Основные срества'


df_01['Наименование'].unique()

# столбех с суммой
df_01['ДС'] = ''

df_01.loc[df_01['SD'].str[:2]=='01', 'ДС'] = df_01['ST']
df_01.loc[df_01['SK'].str[:2]=='01', 'ДС'] = df_01['ST']*-1
df_01.loc[df_01['SD'].str[:2]=='02', 'ДС'] = df_01['ST']
df_01.loc[df_01['SK'].str[:2]=='02', 'ДС'] = df_01['ST']*-1

df_01['ДС'] = pd.to_numeric(df_01['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом в Запасах
selection_01 = (((df_01['SD'].str[:2]=='01') & (df_01['SK'].str[:2]=='01')) |
                ((df_01['SD'].str[:2]=='02') & (df_01['SK'].str[:2]=='02'))
                )

# удаляю внутр оборот
df_01 = df_01[~selection_01]

# pivot table

pt00 = pd.pivot_table(df_01, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt01 = pt00.cumsum(axis=1)

pt01

/tmp/ipykernel_13722/3121235505.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_01['Наименование'] = ''
/tmp/ipykernel_13722/3121235505.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_01['ДС'] = ''
/tmp/ipykernel_13722/3121235505.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_01['ДС'] = pd.to_numeric(df_01['ДС'], errors = 'coerce')

Год                     2022   2023
Наименование
1.01 Основные срества 4348.1 7764.0

In [13]:
# контроль 1С 01 и 02 на 15 мая 2023: 7763.96 млн.руб.

In [14]:
# ### эксперемент с месяцами
# pt00 = pd.pivot_table(df_01, index=['Наименование'], values=['ДС'], columns=['Год', 'Месяц'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt011 = pt00.cumsum(axis=1)

# pt011

### 1.04 НА

In [15]:
# df_04 = df[(((df['SD'].str[:2]=='04') | (df['SK'].str[:2]=='04')) | 
#             ((df['SD'].str[:2]=='05') | (df['SK'].str[:2]=='05'))

#             )]
# df_04



# df_04['Наименование'] = ''

# # Наименование
# df_04.loc[df_04['SD'].str[:2]=='04', 'Наименование'] = '1.04 НА'
# df_04.loc[df_04['SK'].str[:2]=='04', 'Наименование'] = '1.04 НА'
# df_04.loc[df_04['SD'].str[:2]=='05', 'Наименование'] = '1.04 НА'
# df_04.loc[df_04['SK'].str[:2]=='05', 'Наименование'] = '1.04 НА'


# df_04['Наименование'].unique()

# # столбех с суммой
# df_04['ДС'] = ''

# df_04.loc[df_04['SD'].str[:2]=='04', 'ДС'] = df_04['ST']
# df_04.loc[df_04['SK'].str[:2]=='04', 'ДС'] = df_04['ST']*-1
# df_04.loc[df_04['SD'].str[:2]=='05', 'ДС'] = df_04['ST']
# df_04.loc[df_04['SK'].str[:2]=='05', 'ДС'] = df_04['ST']*-1

# df_04['ДС'] = pd.to_numeric(df_04['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_04 = (((df_04['SD'].str[:2]=='04') & (df_04['SK'].str[:2]=='04')) |
#                 ((df_04['SD'].str[:2]=='05') & (df_04['SK'].str[:2]=='05'))
#                 )

# # удаляю внутр оборот
# df_04 = df_04[~selection_04]

# # pivot table

# pt00 = pd.pivot_table(df_04, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt04 = pt00.cumsum(axis=1)

# pt04

In [16]:
# контроль 1С 04 и 05 на 30 апр 2023: - тыс.руб.

### 1.08 Внеоборотные активы

In [17]:
df_08 = df[(((df['SD'].str[:2]=='08') | (df['SK'].str[:2]=='08'))
            )]
df_08



df_08['Наименование'] = ''

# Наименование 
df_08.loc[df_08['SD'].str[:2]=='08', 'Наименование'] = '1.08 Вложения во внеоборотные активы'
df_08.loc[df_08['SK'].str[:2]=='08', 'Наименование'] = '1.08 Вложения во внеоборотные активы'


df_08['Наименование'].unique()

# столбех с суммой
df_08['ДС'] = ''

df_08.loc[df_08['SD'].str[:2]=='08', 'ДС'] = df_08['ST']
df_08.loc[df_08['SK'].str[:2]=='08', 'ДС'] = df_08['ST']*-1


df_08['ДС'] = pd.to_numeric(df_08['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_08 = (((df_08['SD'].str[:2]=='08') & (df_08['SK'].str[:2]=='08')) 
                )

# удаляю внутр оборот
df_08 = df_08[~selection_08]

# pivot table

pt00 = pd.pivot_table(df_08, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt08 = pt00.cumsum(axis=1)

pt08

/tmp/ipykernel_13722/753341344.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08['Наименование'] = ''
/tmp/ipykernel_13722/753341344.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08['ДС'] = ''
/tmp/ipykernel_13722/753341344.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08.loc[df_08['SD'].str[:2]=='08', 'ДС'] = df_08['ST']
/tmp/ipykernel_13722/753341344.py:19: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_08.loc[df_08['SD'].str[:2]=='08', 'ДС'] = df_08['ST']
/tmp/ipykernel_13722/753341344.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08['ДС'] = pd.to_numeric(df_08['ДС'], errors = 'coerce')

Год                                    2022   2023
Наименование
1.08 Вложения во внеоборотные активы 5250.6 8236.3

In [18]:
# контроль 1С 08 на 15 мая 2023: 8326.3 млн.руб.

### 1.09 Отложенные налоговые активы

In [19]:
df_09 = df[(((df['SD'].str[:2]=='09') | (df['SK'].str[:2]=='09'))
            )]
df_09



df_09['Наименование'] = ''

# 1. Наименование
df_09.loc[df_09['SD'].str[:2]=='09', 'Наименование'] = '1.09 Отлож. налоговые активы'
df_09.loc[df_09['SK'].str[:2]=='09', 'Наименование'] = '1.09 Отлож. налоговые активы'


df_09['Наименование'].unique()

# столбех с суммой
df_09['ДС'] = ''

df_09.loc[df_09['SD'].str[:2]=='09', 'ДС'] = df_09['ST']
df_09.loc[df_09['SK'].str[:2]=='09', 'ДС'] = df_09['ST']*-1


df_09['ДС'] = pd.to_numeric(df_09['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом 
selection_09 = (((df_09['SD'].str[:2]=='09') & (df_09['SK'].str[:2]=='09')) 
                )

# удаляю внутр оборот
df_09 = df_09[~selection_09]

# pivot table

pt00 = pd.pivot_table(df_09, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt09 = pt00.cumsum(axis=1)

pt09

/tmp/ipykernel_13722/2654868178.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_09['Наименование'] = ''
/tmp/ipykernel_13722/2654868178.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_09['ДС'] = ''
/tmp/ipykernel_13722/2654868178.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_09['ДС'] = pd.to_numeric(df_09['ДС'], errors = 'coerce')

Год                            2022   2023
Наименование
1.09 Отлож. налоговые активы 1123.5 1751.5

In [20]:
# контроль 1С 09 на 15 мая 2023: 1751.5 млн.руб.

### 1. Внеоборотные активы

In [21]:
# соед все pt в один

temp = ([pt01, pt08, pt09])

pt_temp = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_1 = pt_temp.transpose()

pt_1['1.999 Итого внеоборотные активы'] = pt_1.sum(axis=1)

pt_1 = pt_1.transpose()

pt_1

Год                                     2022    2023
Наименование
1.01 Основные срества                 4348.1  7764.0
1.08 Вложения во внеоборотные активы  5250.6  8236.3
1.09 Отлож. налоговые активы          1123.5  1751.5
1.999 Итого внеоборотные активы      10722.2 17751.8

In [22]:
# соед все pt без итога по группе

pt_12 = pd.concat(temp).sort_values(by='Наименование', ascending=True)


pt_12

Год                                    2022   2023
Наименование
1.01 Основные срества                4348.1 7764.0
1.08 Вложения во внеоборотные активы 5250.6 8236.3
1.09 Отлож. налоговые активы         1123.5 1751.5

### -----------------------------------

## 2. Оборотные активы

### 2.10 Материалы

In [23]:
df_10 = df[(((df['SD'].str[:2]=='10') | (df['SK'].str[:2]=='10'))
            )]
df_10



df_10['Наименование'] = ''

# 1. Наименование
df_10.loc[df_10['SD'].str[:2]=='10', 'Наименование'] = '2.10 Материалы'
df_10.loc[df_10['SK'].str[:2]=='10', 'Наименование'] = '2.10 Материалы'


df_10['Наименование'].unique()

# столбех с суммой
df_10['ДС'] = ''

df_10.loc[df_10['SD'].str[:2]=='10', 'ДС'] = df_10['ST']
df_10.loc[df_10['SK'].str[:2]=='10', 'ДС'] = df_10['ST']*-1


df_10['ДС'] = pd.to_numeric(df_10['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_10 = (((df_10['SD'].str[:2]=='10') & (df_10['SK'].str[:2]=='10')) 
                )

# удаляю внутр оборот
df_10 = df_10[~selection_10]

# pivot table

pt00 = pd.pivot_table(df_10, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt10 = pt00.cumsum(axis=1)

pt10

/tmp/ipykernel_13722/1425225258.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_10['Наименование'] = ''
/tmp/ipykernel_13722/1425225258.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_10['ДС'] = ''
/tmp/ipykernel_13722/1425225258.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_10['ДС'] = pd.to_numeric(df_10['ДС'], errors = 'coerce')

Год             2022  2023
Наименование
2.10 Материалы   0.2   1.3

In [24]:
# контроль 1С 10 на 315 мая 2023: 1302.5 тыс.руб.

### 2.19 НДС

In [25]:
df_19 = df[(((df['SD'].str[:2]=='19') | (df['SK'].str[:2]=='19'))
            )]
df_19



df_19['Наименование'] = ''

# Наименование
df_19.loc[df_19['SD'].str[:2]=='19', 'Наименование'] = '2.19 НДС'
df_19.loc[df_19['SK'].str[:2]=='19', 'Наименование'] = '2.19 НДС'


df_19['Наименование'].unique()

# столбех с суммой
df_19['ДС'] = ''

df_19.loc[df_19['SD'].str[:2]=='19', 'ДС'] = df_19['ST']
df_19.loc[df_19['SK'].str[:2]=='19', 'ДС'] = df_19['ST']*-1


df_19['ДС'] = pd.to_numeric(df_19['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_19 = (((df_19['SD'].str[:2]=='19') & (df_19['SK'].str[:2]=='19')) 
                )

# удаляю внутр оборот
df_19 = df_19[~selection_19]

# pivot table

pt00 = pd.pivot_table(df_19, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt19 = pt00.cumsum(axis=1)

pt19

/tmp/ipykernel_13722/4176673962.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_19['Наименование'] = ''
/tmp/ipykernel_13722/4176673962.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_19['ДС'] = ''
/tmp/ipykernel_13722/4176673962.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_19['ДС'] = pd.to_numeric(df_19['ДС'], errors = 'coerce')

Год           2022  2023
Наименование
2.19 НДС     590.6 959.0

In [26]:
# контроль 1С 19 на 15 мая 2023: 958965 тыс.руб.

### 2.20 Основное производство

In [27]:
df_20 = df[(((df['SD'].str[:2]=='20') | (df['SK'].str[:2]=='20'))
            )]
df_20



df_20['Наименование'] = ''

# Наименование
df_20.loc[df_20['SD'].str[:2]=='20', 'Наименование'] = '2.20 Затраты осн. производства'
df_20.loc[df_20['SK'].str[:2]=='20', 'Наименование'] = '2.20 Затраты осн. производства'


df_20['Наименование'].unique()

# столбех с суммой
df_20['ДС'] = ''

df_20.loc[df_20['SD'].str[:2]=='20', 'ДС'] = df_20['ST']
df_20.loc[df_20['SK'].str[:2]=='20', 'ДС'] = df_20['ST']*-1


df_20['ДС'] = pd.to_numeric(df_20['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_20 = (((df_20['SD'].str[:2]=='20') & (df_20['SK'].str[:2]=='20')) 
                )

# удаляю внутр оборот
df_20 = df_20[~selection_20]

# pivot table

pt00 = pd.pivot_table(df_20, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt20 = pt00.cumsum(axis=1)

pt20

/tmp/ipykernel_13722/789953637.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20['Наименование'] = ''
/tmp/ipykernel_13722/789953637.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20['ДС'] = ''
/tmp/ipykernel_13722/789953637.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_20['ДС'] = pd.to_numeric(df_20['ДС'], errors = 'coerce')

Год                             2022  2023
Наименование
2.20 Затраты осн. производства   0.0   0.2

In [28]:
# контроль 1С 20 на 15 мая 2023: 278 тыс.руб.

### 2.26 Общехозяйственные расходы

In [29]:
df_26 = df[(((df['SD'].str[:2]=='26') | (df['SK'].str[:2]=='26'))
            )]
df_26



df_26['Наименование'] = ''

# Наименование
df_26.loc[df_26['SD'].str[:2]=='26', 'Наименование'] = '2.26 Общехозяйственные расходы'
df_26.loc[df_26['SK'].str[:2]=='26', 'Наименование'] = '2.26 Общехозяйственные расходы'


df_26['Наименование'].unique()

# столбех с суммой
df_26['ДС'] = ''

df_26.loc[df_26['SD'].str[:2]=='26', 'ДС'] = df_26['ST']
df_26.loc[df_26['SK'].str[:2]=='26', 'ДС'] = df_26['ST']*-1


df_26['ДС'] = pd.to_numeric(df_26['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_26 = (((df_26['SD'].str[:2]=='26') & (df_26['SK'].str[:2]=='26')) 
                )

# удаляю внутр оборот
df_26 = df_26[~selection_26]

# pivot table

pt00 = pd.pivot_table(df_26, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt26 = pt00.cumsum(axis=1)

pt26

/tmp/ipykernel_13722/674798112.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_26['Наименование'] = ''
/tmp/ipykernel_13722/674798112.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_26['ДС'] = ''
/tmp/ipykernel_13722/674798112.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_26['ДС'] = pd.to_numeric(df_26['ДС'], errors = 'coerce')

Год                             2023
Наименование
2.26 Общехозяйственные расходы   2.6

In [30]:
# контроль 1С 26 на 15 мая 2023: 2614 тыс.руб.

### 2.43 Готовая продукция

In [31]:
# df_43 = df[(((df['SD'].str[:2]=='43') | (df['SK'].str[:2]=='43'))
#             )]
# df_43



# df_43['Наименование'] = ''

# # Наименование
# df_43.loc[df_43['SD'].str[:2]=='43', 'Наименование'] = '2.43 Готовая продукция'
# df_43.loc[df_43['SK'].str[:2]=='43', 'Наименование'] = '2.43 Готовая продукция'


# df_43['Наименование'].unique()

# # столбех с суммой
# df_43['ДС'] = ''

# df_43.loc[df_43['SD'].str[:2]=='43', 'ДС'] = df_43['ST']
# df_43.loc[df_43['SK'].str[:2]=='43', 'ДС'] = df_43['ST']*-1


# df_43['ДС'] = pd.to_numeric(df_43['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_43 = (((df_43['SD'].str[:2]=='43') & (df_43['SK'].str[:2]=='43')) 
#                 )

# # удаляю внутр оборот
# df_43 = df_43[~selection_43]

# # pivot table

# pt00 = pd.pivot_table(df_43, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt43 = pt00.cumsum(axis=1)

# pt43

In [32]:
# контроль 1С 43 на __ 2023:  тыс.руб.

### 2.44 Расходы на продажу

In [33]:
# df_44 = df[(((df['SD'].str[:2]=='44') | (df['SK'].str[:2]=='44'))
#             )]
# df_44



# df_44['Наименование'] = ''

# # Наименование
# df_44.loc[df_44['SD'].str[:2]=='44', 'Наименование'] = '2.44 Расходы на продажу'
# df_44.loc[df_44['SK'].str[:2]=='44', 'Наименование'] = '2.44 Расходы на продажу'


# df_44['Наименование'].unique()

# # столбех с суммой
# df_44['ДС'] = ''

# df_44.loc[df_44['SD'].str[:2]=='44', 'ДС'] = df_44['ST']
# df_44.loc[df_44['SK'].str[:2]=='44', 'ДС'] = df_44['ST']*-1


# df_44['ДС'] = pd.to_numeric(df_44['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_44 = (((df_44['SD'].str[:2]=='44') & (df_44['SK'].str[:2]=='44')) 
#                 )

# # удаляю внутр оборот
# df_44 = df_44[~selection_44]

# # pivot table

# pt00 = pd.pivot_table(df_44, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt44 = pt00.cumsum(axis=1)

# pt44

In [34]:
# контроль 1С 44 на __ 2023: 0.0 тыс.руб.

### 2.46 Выполненные этапы по незав.работам

In [35]:
# df_46 = df[(((df['SD'].str[:2]=='46') | (df['SK'].str[:2]=='46'))
#             )]
# df_46



# df_46['Наименование'] = ''

# # 1. Наименование
# df_46.loc[df_46['SD'].str[:2]=='46', 'Наименование'] = '2.46 Выполненные этапы по незав.работам'
# df_46.loc[df_46['SK'].str[:2]=='46', 'Наименование'] = '2.46 Выполненные этапы по незав.работам'


# df_46['Наименование'].unique()

# # столбех с суммой
# df_46['ДС'] = ''

# df_46.loc[df_46['SD'].str[:2]=='46', 'ДС'] = df_46['ST']
# df_46.loc[df_46['SK'].str[:2]=='46', 'ДС'] = df_46['ST']*-1


# df_46['ДС'] = pd.to_numeric(df_46['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_46 = (((df_46['SD'].str[:2]=='46') & (df_46['SK'].str[:2]=='46')) 
#                 )

# # удаляю внутр оборот
# df_46 = df_46[~selection_46]

# # pivot table

# pt00 = pd.pivot_table(df_46, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt46 = pt00.cumsum(axis=1)

# pt46

In [36]:
# контроль 1С 46 на  2023: 0.0 тыс.руб.

### 2.50 Денежные средства

In [37]:
df_50 = df[(((df['SD'].str[:2]=='50') | (df['SK'].str[:2]=='50')) | 
            ((df['SD'].str[:2]=='51') | (df['SK'].str[:2]=='51')) |
            ((df['SD'].str[:2]=='52') | (df['SK'].str[:2]=='52')) |
            ((df['SD'].str[:2]=='55') | (df['SK'].str[:2]=='55')) |
            ((df['SD'].str[:2]=='57') | (df['SK'].str[:2]=='57')) 
            )]
df_50

# все транзакции с внутр оборотом в ДС

selection_50 = (                  
                  ((df_50['SD'].str[:2]=='50') & (df_50['SK'].str[:2]=='50')) |
                  ((df_50['SD'].str[:2]=='51') & (df_50['SK'].str[:2]=='51')) |
                  ((df_50['SD'].str[:2]=='52') & (df_50['SK'].str[:2]=='52')) |
                  ((df_50['SD'].str[:2]=='55') & (df_50['SK'].str[:2]=='55')) |
                  ((df_50['SD'].str[:2]=='57') & (df_50['SK'].str[:2]=='57')) |
                  
                  ((df_50['SD'].str[:2]=='51') & (df_50['SK'].str[:2]=='57')) |
                  ((df_50['SD'].str[:2]=='57') & (df_50['SK'].str[:2]=='51')) |
                  ((df_50['SD'].str[:2]=='52') & (df_50['SK'].str[:2]=='57')) |
                  ((df_50['SD'].str[:2]=='57') & (df_50['SK'].str[:2]=='52')) |

                  ((df_50['SD'].str[:2]=='51') & (df_50['SK'].str[:2]=='55')) |
                  ((df_50['SD'].str[:2]=='55') & (df_50['SK'].str[:2]=='51')) |
                  ((df_50['SD'].str[:2]=='52') & (df_50['SK'].str[:2]=='55')) |
                  ((df_50['SD'].str[:2]=='55') & (df_50['SK'].str[:2]=='52')) |
                  
                  ((df_50['SD'].str[:2]=='50') & (df_50['SK'].str[:2]=='51')) |
                  ((df_50['SD'].str[:2]=='51') & (df_50['SK'].str[:2]=='50')) |
                  ((df_50['SD'].str[:2]=='51') & (df_50['SK'].str[:2]=='52')) |
                  ((df_50['SD'].str[:2]=='52') & (df_50['SK'].str[:2]=='51'))

                  )

selection_50.count()

# удаляю внутр оборот

df_50 = df_50[~selection_50]

# 2. ДС
df_50['Наименование'] = ''

df_50.loc[df_50['SD'].str[:2]=='50', 'Наименование'] = '2.50 ДС'
df_50.loc[df_50['SK'].str[:2]=='50', 'Наименование'] = '2.50 ДС'

df_50.loc[df_50['SD'].str[:2]=='51', 'Наименование'] = '2.50 ДС'
df_50.loc[df_50['SK'].str[:2]=='51', 'Наименование'] = '2.50 ДС'

df_50.loc[df_50['SD'].str[:2]=='52', 'Наименование'] = '2.50 ДС'
df_50.loc[df_50['SK'].str[:2]=='52', 'Наименование'] = '2.50 ДС'

df_50.loc[df_50['SD'].str[:2]=='55', 'Наименование'] = '2.50 ДС'
df_50.loc[df_50['SK'].str[:2]=='55', 'Наименование'] = '2.50 ДС'

df_50.loc[df_50['SD'].str[:2]=='57', 'Наименование'] = '2.50 ДС'
df_50.loc[df_50['SK'].str[:2]=='57', 'Наименование'] = '2.50 ДС'



df_50['Наименование'].unique()

# Столбец с суммой ДС
df_50['ДС'] = ''

df_50.loc[df_50['SD'].str[:2]=='50', 'ДС'] = df_50['ST']
df_50.loc[df_50['SK'].str[:2]=='50', 'ДС'] = df_50['ST']*-1

df_50.loc[df_50['SD'].str[:2]=='51', 'ДС'] = df_50['ST']
df_50.loc[df_50['SK'].str[:2]=='51', 'ДС'] = df_50['ST']*-1

df_50.loc[df_50['SD'].str[:2]=='52', 'ДС'] = df_50['ST']
df_50.loc[df_50['SK'].str[:2]=='52', 'ДС'] = df_50['ST']*-1

df_50.loc[df_50['SD'].str[:2]=='55', 'ДС'] = df_50['ST']
df_50.loc[df_50['SK'].str[:2]=='55', 'ДС'] = df_50['ST']*-1

df_50.loc[df_50['SD'].str[:2]=='57', 'ДС'] = df_50['ST']
df_50.loc[df_50['SK'].str[:2]=='57', 'ДС'] = df_50['ST']*-1


df_50['ДС'] = pd.to_numeric(df_50['ДС'], errors = 'coerce')

# pivot table

pt50 = pd.pivot_table(df_50, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

pt50 = pt50['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt50 = pt50.cumsum(axis=1)

pt50

Год           2022  2023
Наименование
2.50 ДС       89.2  92.4

In [38]:
# контроль 1С 51, 52, 55, 57 на 15 vfz 2023: 92239 тыс.руб.

### 2.58 Финансовые вложения

In [39]:
df_58 = df[(((df['SD'].str[:2]=='58') | (df['SK'].str[:2]=='58'))
            )]
df_58



df_58['Наименование'] = ''

# Наименование
df_58.loc[df_58['SD'].str[:2]=='58', 'Наименование'] = '2.58 Финансовые вложения'
df_58.loc[df_58['SK'].str[:2]=='58', 'Наименование'] = '2.58 Финансовые вложения'


df_58['Наименование'].unique()

# столбех с суммой
df_58['ДС'] = ''

df_58.loc[df_58['SD'].str[:2]=='58', 'ДС'] = df_58['ST']
df_58.loc[df_58['SK'].str[:2]=='58', 'ДС'] = df_58['ST']*-1


df_58['ДС'] = pd.to_numeric(df_58['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_58 = (((df_58['SD'].str[:2]=='58') & (df_58['SK'].str[:2]=='58')) 
                )

# удаляю внутр оборот
df_58 = df_58[~selection_58]

# pivot table

pt00 = pd.pivot_table(df_58, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt58 = pt00.cumsum(axis=1)

pt58

/tmp/ipykernel_13722/111002795.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_58['Наименование'] = ''
/tmp/ipykernel_13722/111002795.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_58['ДС'] = ''
/tmp/ipykernel_13722/111002795.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_58.loc[df_58['SD'].str[:2]=='58', 'ДС'] = df_58['ST']
/tmp/ipykernel_13722/111002795.py:19: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_58.loc[df_58['SD'].str[:2]=='58', 'ДС'] = df_58['ST']
/tmp/ipykernel_13722/111002795.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_58['ДС'] = pd.to_numeric(df_58['ДС'], errors = 'coerce')

Год                        2022   2023
Наименование
2.58 Финансовые вложения 3755.2 3755.2

In [40]:
# контроль 1С 58 на 15 мая 2023: 3755212 тыс.руб.

### 2.60.2 Авансы выданные

In [41]:
df_61 = df[(((df['SD'].str[:4]=='60.2') | (df['SK'].str[:4]=='60.2'))
            )]
df_61



df_61['Наименование'] = ''

# Наименование
df_61.loc[df_61['SD'].str[:4]=='60.2', 'Наименование'] = '2.60.2 Авансы выданные'
df_61.loc[df_61['SK'].str[:4]=='60.2', 'Наименование'] = '2.60.2 Авансы выданные'


df_61['Наименование'].unique()

# столбех с суммой
df_61['ДС'] = ''

df_61.loc[df_61['SD'].str[:4]=='60.2', 'ДС'] = df_61['ST']
df_61.loc[df_61['SK'].str[:4]=='60.2', 'ДС'] = df_61['ST']*-1


df_61['ДС'] = pd.to_numeric(df_61['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_61 = (((df_61['SD'].str[:4]=='60.2') & (df_61['SK'].str[:4]=='60.2')) 
                )

# удаляю внутр оборот
df_61 = df_61[~selection_61]

# pivot table

pt00 = pd.pivot_table(df_61, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt61 = pt00.cumsum(axis=1)

pt61

/tmp/ipykernel_13722/3365417522.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_61['Наименование'] = ''
/tmp/ipykernel_13722/3365417522.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_61['ДС'] = ''
/tmp/ipykernel_13722/3365417522.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_61['ДС'] = pd.to_numeric(df_61['ДС'], errors = 'coerce')

Год                      2022  2023
Наименование
2.60.2 Авансы выданные 1058.5 984.5

In [42]:
# контроль 1С 60.2 сальдировано на 15 мая 2023: 984480 тыс.руб.

### 2.62 Долги покупателей

In [43]:
df_62 = df[(((df['SD']=='62.1') | (df['SK'] =='62.1')) |
            ((df['SD']=='62.31') | (df['SK'] =='62.31'))
            )]
df_62



df_62['Наименование'] = ''

# 2.62
df_62.loc[df_62['SD'] =='62.1', 'Наименование'] = '2.62 Долги покупателей'
df_62.loc[df_62['SK'] =='62.1', 'Наименование'] = '2.62 Долги покупателей'
df_62.loc[df_62['SD'] =='62.31', 'Наименование'] = '2.62 Долги покупателей'
df_62.loc[df_62['SK'] =='62.31', 'Наименование'] = '2.62 Долги покупателей'


df_62['Наименование'].unique()

# столбех с суммой
df_62['ДС'] = ''

df_62.loc[df_62['SD'] =='62.1', 'ДС'] = df_62['ST']
df_62.loc[df_62['SK'] =='62.1', 'ДС'] = df_62['ST']*-1
df_62.loc[df_62['SD'] =='62.31', 'ДС'] = df_62['ST']
df_62.loc[df_62['SK'] =='62.31', 'ДС'] = df_62['ST']*-1


df_62['ДС'] = pd.to_numeric(df_62['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_62 = (((df_62['SD'] =='62.1') & (df_62['SK'] =='62.1')) |
                ((df_62['SD'] =='62.31') & (df_62['SK'] =='62.31')) |
                ((df_62['SD'] =='62.1') & (df_62['SK'] =='62.31')) |
                ((df_62['SD'] =='62.31') & (df_62['SK'] =='62.1')) 
                )

# удаляю внутр оборот
df_62 = df_62[~selection_62]

# pivot table

pt00 = pd.pivot_table(df_62, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt62 = pt00.cumsum(axis=1)

pt62

/tmp/ipykernel_13722/113918788.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_62['Наименование'] = ''
/tmp/ipykernel_13722/113918788.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_62['ДС'] = ''
/tmp/ipykernel_13722/113918788.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_62['ДС'] = pd.to_numeric(df_62['ДС'], errors = 'coerce')

Год                     2022  2023
Наименование
2.62 Долги покупателей   2.4   1.4

In [44]:
# сальд сч 62.1 и 62.31 на 15 мая 2023: 1432 тыс.руб.

### 2.63 Резервы по сомнительным долгам

In [45]:
df_63 = df[(((df['SD'].str[:2]=='63') | (df['SK'].str[:2]=='63'))
            )]
df_63



df_63['Наименование'] = ''

# Наименование
df_63.loc[df_63['SD'].str[:2]=='63', 'Наименование'] = '2.63 Резервы по сомнительным долгам'
df_63.loc[df_63['SK'].str[:2]=='63', 'Наименование'] = '2.63 Резервы по сомнительным долгам'


df_63['Наименование'].unique()

# столбех с суммой
df_63['ДС'] = ''

df_63.loc[df_63['SD'].str[:2]=='63', 'ДС'] = df_63['ST']
df_63.loc[df_63['SK'].str[:2]=='63', 'ДС'] = df_63['ST']*-1


df_63['ДС'] = pd.to_numeric(df_63['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_63 = (((df_63['SD'].str[:2]=='63') & (df_63['SK'].str[:2]=='63')) 
                )

# удаляю внутр оборот
df_63 = df_63[~selection_63]

# pivot table

pt00 = pd.pivot_table(df_63, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt63 = pt00.cumsum(axis=1)

pt63

/tmp/ipykernel_13722/538279663.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_63['Наименование'] = ''
/tmp/ipykernel_13722/538279663.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_63['ДС'] = ''
/tmp/ipykernel_13722/538279663.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_63.loc[df_63['SK'].str[:2]=='63', 'ДС'] = df_63['ST']*-1
/tmp/ipykernel_13722/538279663.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_63.loc[df_63['SK'].str[:2]=='63', 'ДС'] = df_63['ST']*-1
/tmp/ipykernel_13722/538279663.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_63['ДС'] = pd.to_numeric(df_63['ДС'], errors = 'coerce')

Год                                  2022  2023
Наименование
2.63 Резервы по сомнительным долгам  -0.2  -0.2

### 2.97 Расходы буд периодов

In [46]:
df_97 = df[(((df['SD'].str[:2]=='97') | (df['SK'].str[:2]=='97'))
            )]
df_97



df_97['Наименование'] = ''

# Наименование
df_97.loc[df_97['SD'].str[:2]=='97', 'Наименование'] = '2.97 Расходы буд периодов'
df_97.loc[df_97['SK'].str[:2]=='97', 'Наименование'] = '2.97 Расходы буд периодов'


df_97['Наименование'].unique()

# столбех с суммой
df_97['ДС'] = ''

df_97.loc[df_97['SD'].str[:2]=='97', 'ДС'] = df_97['ST']
df_97.loc[df_97['SK'].str[:2]=='97', 'ДС'] = df_97['ST']*-1


df_97['ДС'] = pd.to_numeric(df_97['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_97 = (((df_97['SD'].str[:2]=='97') & (df_97['SK'].str[:2]=='97')) 
                )

# удаляю внутр оборот
df_97 = df_97[~selection_97]

# pivot table

pt00 = pd.pivot_table(df_97, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt97 = pt00.cumsum(axis=1)

pt97

/tmp/ipykernel_13722/3832181702.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_97['Наименование'] = ''
/tmp/ipykernel_13722/3832181702.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_97['ДС'] = ''
/tmp/ipykernel_13722/3832181702.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_97['ДС'] = pd.to_numeric(df_97['ДС'], errors = 'coerce')

Год                        2022  2023
Наименование
2.97 Расходы буд периодов   9.3   7.5

In [47]:
# контроль 1С 15 мая 2023: 7505 тыс.руб.

### 2. Оборотные активы итог

In [48]:
# соед все pt в один

# temp = ([pt10, pt19, pt20, pt43, pt44, pt46, pt50, pt58, pt61, pt62, pt63, pt97])
temp = ([pt10, pt19, pt20, pt26, pt50, pt58, pt61, pt62, pt63, pt97])


pt_temp = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_2 = pt_temp.transpose()

pt_2['2.999 Итого оборотные активы'] = pt_2.sum(axis=1)

pt_2 = pt_2.transpose()

pt_2

Год                                   2022   2023
Наименование
2.10 Материалы                         0.2    1.3
2.19 НДС                             590.6  959.0
2.20 Затраты осн. производства         0.0    0.2
2.26 Общехозяйственные расходы         NaN    2.6
2.50 ДС                               89.2   92.4
2.58 Финансовые вложения            3755.2 3755.2
2.60.2 Авансы выданные              1058.5  984.5
2.62 Долги покупателей                 2.4    1.4
2.63 Резервы по сомнительным долгам   -0.2   -0.2
2.97 Расходы буд периодов              9.3    7.5
2.999 Итого оборотные активы        5505.3 5803.9

In [49]:
# соед без итога по группе

pt_22 = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_22

Год                                   2022   2023
Наименование
2.10 Материалы                         0.2    1.3
2.19 НДС                             590.6  959.0
2.20 Затраты осн. производства         0.0    0.2
2.26 Общехозяйственные расходы         NaN    2.6
2.50 ДС                               89.2   92.4
2.58 Финансовые вложения            3755.2 3755.2
2.60.2 Авансы выданные              1058.5  984.5
2.62 Долги покупателей                 2.4    1.4
2.63 Резервы по сомнительным долгам   -0.2   -0.2
2.97 Расходы буд периодов              9.3    7.5

### -----------------------------------

## 3. Капитал

### 3.80 Уставный капитал

In [50]:
df_80 = df[(((df['SD'].str[:2]=='80') | (df['SK'].str[:2]=='80'))
            )]
df_80



df_80['Наименование'] = ''

# Наименование
df_80.loc[df_80['SD'].str[:2]=='80', 'Наименование'] = '3.80 Уставный капитал'
df_80.loc[df_80['SK'].str[:2]=='80', 'Наименование'] = '3.80 Уставный капитал'


df_80['Наименование'].unique()

# столбех с суммой
df_80['ДС'] = ''

df_80.loc[df_80['SD'].str[:2]=='80', 'ДС'] = df_80['ST']
df_80.loc[df_80['SK'].str[:2]=='80', 'ДС'] = df_80['ST']*-1


df_80['ДС'] = pd.to_numeric(df_80['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_80 = (((df_80['SD'].str[:2]=='80') & (df_80['SK'].str[:2]=='80')) 
                )

# удаляю внутр оборот
df_80 = df_80[~selection_80]

# pivot table

pt00 = pd.pivot_table(df_80, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt80 = pt00.cumsum(axis=1)

pt80

/tmp/ipykernel_13722/1431414947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_80['Наименование'] = ''
/tmp/ipykernel_13722/1431414947.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_80['ДС'] = ''
/tmp/ipykernel_13722/1431414947.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_80.loc[df_80['SK'].str[:2]=='80', 'ДС'] = df_80['ST']*-1
/tmp/ipykernel_13722/1431414947.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_80.loc[df_80['SK'].str[:2]=='80', 'ДС'] = df_80['ST']*-1
/tmp/ipykernel_13722/1431414947.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_80['ДС'] = pd.to_numeric(df_80['ДС'], errors = 'coerce')

Год                     2022   2023
Наименование
3.80 Уставный капитал -300.0 -300.0

In [51]:
### контроль 1С ост сч 80 на 15 мая 2023:

### 3.81 Собственные акции

In [52]:
# df_81 = df[(((df['SD'].str[:2]=='81') | (df['SK'].str[:2]=='81'))
#             )]
# df_81



# df_81['Наименование'] = ''

# # Наименование
# df_81.loc[df_81['SD'].str[:2]=='81', 'Наименование'] = '3.81 Собственные акции'
# df_81.loc[df_81['SK'].str[:2]=='81', 'Наименование'] = '3.81 Собственные акции'


# df_81['Наименование'].unique()

# # столбех с суммой
# df_81['ДС'] = ''

# df_81.loc[df_81['SD'].str[:2]=='81', 'ДС'] = df_81['ST']
# df_81.loc[df_81['SK'].str[:2]=='81', 'ДС'] = df_81['ST']*-1


# df_81['ДС'] = pd.to_numeric(df_81['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_81 = (((df_81['SD'].str[:2]=='81') & (df_81['SK'].str[:2]=='81')) 
#                 )

# # удаляю внутр оборот
# df_81 = df_81[~selection_81]

# # pivot table

# pt00 = pd.pivot_table(df_81, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt81 = pt00.cumsum(axis=1)

# pt81

In [53]:
### контроль 1С ост сч 81 на 15 мая 2023:  тыс.руб.

### 3.82 Резервный капитал

In [54]:
# df_82 = df[(((df['SD'].str[:2]=='82') | (df['SK'].str[:2]=='82'))
#             )]
# df_82



# df_82['Наименование'] = ''

# # Наименование
# df_82.loc[df_82['SD'].str[:2]=='82', 'Наименование'] = '3.82 Резервный капитал'
# df_82.loc[df_82['SK'].str[:2]=='82', 'Наименование'] = '3.82 Резервный капитал'


# df_82['Наименование'].unique()

# # столбех с суммой
# df_82['ДС'] = ''

# df_82.loc[df_82['SD'].str[:2]=='82', 'ДС'] = df_82['ST']
# df_82.loc[df_82['SK'].str[:2]=='82', 'ДС'] = df_82['ST']*-1


# df_82['ДС'] = pd.to_numeric(df_82['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_82 = (((df_82['SD'].str[:2]=='82') & (df_82['SK'].str[:2]=='82')) 
#                 )

# # удаляю внутр оборот
# df_82 = df_82[~selection_82]

# # pivot table

# pt00 = pd.pivot_table(df_82, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt82 = pt00.cumsum(axis=1)

# pt82

### 3.83 Добавочный капитал

In [55]:
df_83 = df[(((df['SD'].str[:2]=='83') | (df['SK'].str[:2]=='83'))
            )]
df_83



df_83['Наименование'] = ''

# Наименование
df_83.loc[df_83['SD'].str[:2]=='83', 'Наименование'] = '3.83 Добавочный капитал'
df_83.loc[df_83['SK'].str[:2]=='83', 'Наименование'] = '3.83 Добавочный капитал'


df_83['Наименование'].unique()

# столбех с суммой
df_83['ДС'] = ''

df_83.loc[df_83['SD'].str[:2]=='83', 'ДС'] = df_83['ST']
df_83.loc[df_83['SK'].str[:2]=='83', 'ДС'] = df_83['ST']*-1


df_83['ДС'] = pd.to_numeric(df_83['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_83 = (((df_83['SD'].str[:2]=='83') & (df_83['SK'].str[:2]=='83')) 
                )

# удаляю внутр оборот
df_83 = df_83[~selection_83]

# pivot table

pt00 = pd.pivot_table(df_83, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt83 = pt00.cumsum(axis=1)

pt83

/tmp/ipykernel_13722/1376169746.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_83['Наименование'] = ''
/tmp/ipykernel_13722/1376169746.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_83['ДС'] = ''
/tmp/ipykernel_13722/1376169746.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_83.loc[df_83['SK'].str[:2]=='83', 'ДС'] = df_83['ST']*-1
/tmp/ipykernel_13722/1376169746.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_83.loc[df_83['SK'].str[:2]=='83', 'ДС'] = df_83['ST']*-1
/tmp/ipykernel_13722/1376169746.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_83['ДС'] = pd.to_numeric(df_83['ДС'], errors = 'coerce')

Год                       2022   2023
Наименование
3.83 Добавочный капитал -339.9 -339.9

### 3.84 Нераспределенная прибыль / убыток

In [56]:
df_84 = df[(((df['SD'].str[:2]=='84') | (df['SK'].str[:2]=='84'))
            )]
df_84



df_84['Наименование'] = ''

# Наименование
df_84.loc[df_84['SD'].str[:2]=='84', 'Наименование'] = '3.84 Нераспред. прибыль / убыток'
df_84.loc[df_84['SK'].str[:2]=='84', 'Наименование'] = '3.84 Нераспред. прибыль / убыток'


df_84['Наименование'].unique()

# столбех с суммой
df_84['ДС'] = ''

df_84.loc[df_84['SD'].str[:2]=='84', 'ДС'] = df_84['ST']
df_84.loc[df_84['SK'].str[:2]=='84', 'ДС'] = df_84['ST']*-1


df_84['ДС'] = pd.to_numeric(df_84['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_84 = (((df_84['SD'].str[:2]=='84') & (df_84['SK'].str[:2]=='84')) 
                )

# удаляю внутр оборот
df_84 = df_84[~selection_84]

# pivot table

pt00 = pd.pivot_table(df_84, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt84 = pt00.cumsum(axis=1)

pt84

/tmp/ipykernel_13722/4184400859.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_84['Наименование'] = ''
/tmp/ipykernel_13722/4184400859.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_84['ДС'] = ''
/tmp/ipykernel_13722/4184400859.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_84['ДС'] = pd.to_numeric(df_84['ДС'], errors = 'coerce')

Год                               2022  2023
Наименование
3.84 Нераспред. прибыль / убыток 186.7 186.7

In [57]:
### контроль 1С ост сч 81 на 15 мая 2023:  +186692 тыс.руб.

### 3.90 Прибыль / убыток текущ.периода

In [58]:
df_90 = df[(((df['SD'] =='90.1.1') | (df['SK'] =='90.1.1')) | 
            ((df['SD'] =='90.2.1') | (df['SK'] =='90.2.1')) |
            ((df['SD'] =='90.3') | (df['SK'] =='90.3')) |
            ((df['SD'] =='90.8.1') | (df['SK'] =='90.08.1')) 
            )]
df_90

# все транзакции с переносом результата на сч 99

selection_90 = (                  
                  ((df_90['SD'] =='90.9') & (df_90['SK'] =='99.1.1')) |
                  ((df_90['SD'] =='99.1.1') & (df_90['SK'] =='90.9')) 
                  )

selection_90.count()

# удаляю внутр оборот

df_90 = df_90[~selection_90]

# 2. ДС
df_90['Наименование'] = ''

df_90.loc[df_90['SD'] =='90.1.1', 'Наименование'] = '3.90 Рузультат продаж'
df_90.loc[df_90['SK'] =='90.1.1', 'Наименование'] = '3.90 Рузультат продаж'

df_90.loc[df_90['SD'] =='90.2.1', 'Наименование'] = '3.90 Рузультат продаж'
df_90.loc[df_90['SK'] =='90.2.1', 'Наименование'] = '3.90 Рузультат продаж'

df_90.loc[df_90['SD'] =='90.3', 'Наименование'] = '3.90 Рузультат продаж'
df_90.loc[df_90['SK'] =='90.3', 'Наименование'] = '3.90 Рузультат продаж'

df_90.loc[df_90['SD'] =='90.8.1', 'Наименование'] = '3.90 Рузультат продаж'
df_90.loc[df_90['SK'] =='90.8.1', 'Наименование'] = '3.90 Рузультат продаж'



df_90['Наименование'].unique()

# Столбец с суммой ДС
df_90['ДС'] = ''

df_90.loc[df_90['SD'] =='90.1.1', 'ДС'] = df_90['ST']
df_90.loc[df_90['SK'] =='90.1.1', 'ДС'] = df_90['ST']*-1

df_90.loc[df_90['SD'] =='90.2.1', 'ДС'] = df_90['ST']
df_90.loc[df_90['SK'] =='90.2.1', 'ДС'] = df_90['ST']*-1

df_90.loc[df_90['SD'] =='90.3', 'ДС'] = df_90['ST']
df_90.loc[df_90['SK'] =='90.3', 'ДС'] = df_90['ST']*-1

df_90.loc[df_90['SD'] =='90.8.1', 'ДС'] = df_90['ST']
df_90.loc[df_90['SK'] =='90.8.1', 'ДС'] = df_90['ST']*-1



df_90['ДС'] = pd.to_numeric(df_90['ДС'], errors = 'coerce')

# pivot table

pt90 = pd.pivot_table(df_90, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

pt90 = pt90['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt90 = pt90.cumsum(axis=1)

pt90

Год                    2023
Наименование
3.90 Рузультат продаж   1.9

In [59]:
# 1С рез за  2023 по сч 90:  +1867.3 тыс.руб.

### 3.91 Прибыль / убыток текущ.периода

In [60]:
df_91 = df[(((df['SD'].str[:2]=='91') | (df['SK'].str[:2]=='91'))
            )]
df_91



df_91['Наименование'] = ''

# Наименование 
df_91.loc[df_91['SD'].str[:2]=='91', 'Наименование'] = '3.91 Результат проч. доходов и расходов'
df_91.loc[df_91['SK'].str[:2]=='91', 'Наименование'] = '3.91 Результат проч. доходов и расходов'


df_91['Наименование'].unique()

# столбех с суммой
df_91['ДС'] = ''

df_91.loc[df_91['SD'].str[:2]=='91', 'ДС'] = df_91['ST']
df_91.loc[df_91['SK'].str[:2]=='91', 'ДС'] = df_91['ST']*-1


df_91['ДС'] = pd.to_numeric(df_91['ДС'], errors = 'coerce')


# все транзакции с переносом результата на сч 99
selection_91 = (
                ((df_91['SD'] =='99.1.1') & (df_91['SK'] =='91.9')) |
                ((df_91['SD'] =='91.9') & (df_91['SK'] =='99.1.1')) 
                )

# удаляю внутр оборот
df_91 = df_91[~selection_91]

# pivot table

pt00 = pd.pivot_table(df_91, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt91 = pt00.cumsum(axis=1)

pt91

/tmp/ipykernel_13722/2122512862.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_91['Наименование'] = ''
/tmp/ipykernel_13722/2122512862.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_91['ДС'] = ''
/tmp/ipykernel_13722/2122512862.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_91['ДС'] = pd.to_numeric(df_91['ДС'], errors = 'coerce')

Год                                      2022  2023
Наименование
3.91 Результат проч. доходов и расходов   0.0  24.6

In [61]:
# 1С рез за  2023 по сч 91: 24524.083 тыс.руб.

### 3.99 Прибыль / убыток текущ.периода

In [62]:
df_99 = df[(((df['SD'].str[:2]=='99') | (df['SK'].str[:2]=='99'))
            )]
df_99



df_99['Наименование'] = ''

# Наименование
df_99.loc[df_99['SD'].str[:2]=='99', 'Наименование'] = '3.99 Результат налог на прибыль'
df_99.loc[df_99['SK'].str[:2]=='99', 'Наименование'] = '3.99 Результат налог на прибыль'


df_99['Наименование'].unique()

# столбех с суммой
df_99['ДС'] = ''

df_99.loc[df_99['SD'].str[:2]=='99', 'ДС'] = df_99['ST']
df_99.loc[df_99['SK'].str[:2]=='99', 'ДС'] = df_99['ST']*-1


df_99['ДС'] = pd.to_numeric(df_99['ДС'], errors = 'coerce')


# все транзакции с переносом результата на сч 99
selection_99 = (
                ((df_99['SD'] =='90.9') & (df_99['SK'] =='99.1.1')) |
                ((df_99['SD'] =='99.1.1') & (df_99['SK'] =='90.9')) |
                ((df_99['SD'] =='91.9') & (df_99['SK'] =='99.1.1')) |
                ((df_99['SD'] =='99.1.1') & (df_99['SK'] =='91.9')) 
                
                )

# удаляю внутр оборот
df_99 = df_99[~selection_99]

# pivot table

pt00 = pd.pivot_table(df_99, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt99 = pt00.cumsum(axis=1)

pt99

/tmp/ipykernel_13722/2060470945.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_99['Наименование'] = ''
/tmp/ipykernel_13722/2060470945.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_99['ДС'] = ''
/tmp/ipykernel_13722/2060470945.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_99['ДС'] = pd.to_numeric(df_99['ДС'], errors = 'coerce')

Год                              2022  2023
Наименование
3.99 Результат налог на прибыль   0.0  -5.3

In [63]:
# сальдиров рез по сч 99 (без учета оборотов со сч 91.9 и 90.9) с 1 янв по 15 мая 2023: -5.3

### 3. Капитал свод

In [64]:
# соед все pt в один

# temp = ([pt80, pt81, pt82, pt83, pt84, pt90, pt91, pt99])
temp = ([pt80, pt83, pt84, pt90, pt91, pt99])

pt_temp = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_3 = pt_temp.transpose()

pt_3['3.999 Итого капитал'] = pt_3.sum(axis=1)

pt_3 = pt_3.transpose()

pt_3

Год                                       2022   2023
Наименование
3.80 Уставный капитал                   -300.0 -300.0
3.83 Добавочный капитал                 -339.9 -339.9
3.84 Нераспред. прибыль / убыток         186.7  186.7
3.90 Рузультат продаж                      NaN    1.9
3.91 Результат проч. доходов и расходов    0.0   24.6
3.99 Результат налог на прибыль            0.0   -5.3
3.999 Итого капитал                     -453.2 -432.1

In [65]:
# меняю знак

pt_31 = pt_3*-1

pt_31

Год                                       2022   2023
Наименование
3.80 Уставный капитал                    300.0  300.0
3.83 Добавочный капитал                  339.9  339.9
3.84 Нераспред. прибыль / убыток        -186.7 -186.7
3.90 Рузультат продаж                      NaN   -1.9
3.91 Результат проч. доходов и расходов   -0.0  -24.6
3.99 Результат налог на прибыль           -0.0    5.3
3.999 Итого капитал                      453.2  432.1

In [66]:
# без итога по группе


pt_32 = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_32

Год                                       2022   2023
Наименование
3.80 Уставный капитал                   -300.0 -300.0
3.83 Добавочный капитал                 -339.9 -339.9
3.84 Нераспред. прибыль / убыток         186.7  186.7
3.90 Рузультат продаж                      NaN    1.9
3.91 Результат проч. доходов и расходов    0.0   24.6
3.99 Результат налог на прибыль            0.0   -5.3

### -----------------------------------

## 4. Долгосрочные обязательства

### 4.67 Долгосрочные займы и кредиты

In [67]:
df_67 = df[(((df['SD'].str[:2]=='67') | (df['SK'].str[:2]=='67'))
            )]
df_67



df_67['Наименование'] = ''

# Наименование
df_67.loc[df_67['SD'].str[:2]=='67', 'Наименование'] = '4.67 Долгосрочные займы и кредиты'
df_67.loc[df_67['SK'].str[:2]=='67', 'Наименование'] = '4.67 Долгосрочные займы и кредиты'


df_67['Наименование'].unique()

# столбех с суммой
df_67['ДС'] = ''

df_67.loc[df_67['SD'].str[:2]=='67', 'ДС'] = df_67['ST']
df_67.loc[df_67['SK'].str[:2]=='67', 'ДС'] = df_67['ST']*-1


df_67['ДС'] = pd.to_numeric(df_67['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_67 = (((df_67['SD'].str[:2]=='67') & (df_67['SK'].str[:2]=='67')) 
                )

# удаляю внутр оборот
df_67 = df_67[~selection_67]

# pivot table

pt00 = pd.pivot_table(df_67, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt67 = pt00.cumsum(axis=1)

pt67

/tmp/ipykernel_13722/2267443017.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_67['Наименование'] = ''
/tmp/ipykernel_13722/2267443017.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_67['ДС'] = ''
/tmp/ipykernel_13722/2267443017.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_67.loc[df_67['SK'].str[:2]=='67', 'ДС'] = df_67['ST']*-1
/tmp/ipykernel_13722/2267443017.py:20: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_67.loc[df_67['SK'].str[:2]=='67', 'ДС'] = df_67['ST']*-1
/tmp/ipykernel_13722/2267443017.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_67['ДС'] = pd.to_numeric(df_67['ДС'], errors = 'coerce')

Год                                  2022     2023
Наименование
4.67 Долгосрочные займы и кредиты -9532.2 -13214.3

In [68]:
## сальдо сч 67 на 15 мая 2023: 13214.27 млн.руб.

### 4.77 Отлеженные налог обяз-ва

In [69]:
df_77 = df[(((df['SD'].str[:2]=='77') | (df['SK'].str[:2]=='77'))
            )]
df_77


# Наименование
df_77['Наименование'] = ''

df_77.loc[df_77['SD'].str[:2]=='77', 'Наименование'] = '4.77 Отлеженные налог обяз-ва'
df_77.loc[df_77['SK'].str[:2]=='77', 'Наименование'] = '4.77 Отлеженные налог обяз-ва'


df_77['Наименование'].unique()

# столбех с суммой
df_77['ДС'] = ''

df_77.loc[df_77['SD'].str[:2]=='77', 'ДС'] = df_77['ST']
df_77.loc[df_77['SK'].str[:2]=='77', 'ДС'] = df_77['ST']*-1


df_77['ДС'] = pd.to_numeric(df_77['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_77 = (((df_77['SD'].str[:2]=='77') & (df_77['SK'].str[:2]=='77')) 
                )

# удаляю внутр оборот
df_77 = df_77[~selection_77]

# pivot table

pt00 = pd.pivot_table(df_77, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt77 = pt00.cumsum(axis=1)

pt77

/tmp/ipykernel_13722/3387453415.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_77['Наименование'] = ''
/tmp/ipykernel_13722/3387453415.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_77['ДС'] = ''
/tmp/ipykernel_13722/3387453415.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_77['ДС'] = pd.to_numeric(df_77['ДС'], errors = 'coerce')

Год                              2022    2023
Наименование
4.77 Отлеженные налог обяз-ва -1069.0 -1691.8

In [70]:
## сальдо сч 77 на 15 мая 2023: 1691.8 млн.руб.

### 4. Долгосрочные обязательства свод

In [71]:
# соед все pt в один

temp = ([pt67, pt77])

pt_temp = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_4 = pt_temp.transpose()

pt_4['4.999 Итого долгосрочные обязательства'] = pt_4.sum(axis=1)

pt_4 = pt_4.transpose()

pt_4

Год                                        2022     2023
Наименование
4.67 Долгосрочные займы и кредиты       -9532.2 -13214.3
4.77 Отлеженные налог обяз-ва           -1069.0  -1691.8
4.999 Итого долгосрочные обязательства -10601.2 -14906.0

In [72]:
# меняю знак

pt_41 = pt_4*-1

pt_41

Год                                       2022    2023
Наименование
4.67 Долгосрочные займы и кредиты       9532.2 13214.3
4.77 Отлеженные налог обяз-ва           1069.0  1691.8
4.999 Итого долгосрочные обязательства 10601.2 14906.0

In [73]:
# без итога по группе

pt_42 = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_42

Год                                  2022     2023
Наименование
4.67 Долгосрочные займы и кредиты -9532.2 -13214.3
4.77 Отлеженные налог обяз-ва     -1069.0  -1691.8

### -----------------------------------


## 5. Краткосрочные обязательства

### 5.60 Расчеты с поставщиками

In [74]:
df_60 = df[(((df['SD'] =='60.1') | (df['SK'] =='60.1'))
            )]
df_60


# Наименование
df_60['Наименование'] = ''

df_60.loc[df_60['SD'] =='60.1', 'Наименование'] = '5.60 Расчеты с поставщиками'
df_60.loc[df_60['SK'] =='60.1', 'Наименование'] = '5.60 Расчеты с поставщиками'


df_60['Наименование'].unique()

# столбех с суммой
df_60['ДС'] = ''

df_60.loc[df_60['SD'] =='60.1', 'ДС'] = df_60['ST']
df_60.loc[df_60['SK'] =='60.1', 'ДС'] = df_60['ST']*-1


df_60['ДС'] = pd.to_numeric(df_60['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_60 = (((df_60['SD']=='60.1') & (df_60['SK']=='60.1'))

                )

# удаляю внутр оборот
df_60 = df_60[~selection_60]

# pivot table

pt00 = pd.pivot_table(df_60, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt60 = pt00.cumsum(axis=1)

pt60

/tmp/ipykernel_13722/3782346907.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_60['Наименование'] = ''
/tmp/ipykernel_13722/3782346907.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_60['ДС'] = ''
/tmp/ipykernel_13722/3782346907.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_60['ДС'] = pd.to_numeric(df_60['ДС'], errors = 'coerce')

Год                           2022  2023
Наименование
5.60 Расчеты с поставщиками -411.5 -34.8

In [75]:
## сальдо сч 60 на 15 мая 2023: -34.77 млн.руб.

### 5.62 Авансы полученные

In [76]:
df_622 = df[(((df['SD'] =='62.2') | (df['SK'] =='62.2'))
            )]
df_622


# Наименование
df_622['Наименование'] = ''

df_622.loc[df_622['SD'] =='62.2', 'Наименование'] = '5.62 Авансы полученные'
df_622.loc[df_622['SK'] =='62.2', 'Наименование'] = '5.62 Авансы полученные'


df_622['Наименование'].unique()

# столбех с суммой
df_622['ДС'] = ''

df_622.loc[df_622['SD'] =='62.2', 'ДС'] = df_622['ST']
df_622.loc[df_622['SK'] =='62.2', 'ДС'] = df_622['ST']*-1


df_622['ДС'] = pd.to_numeric(df_622['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_622 = (((df_622['SD']=='62.2') & (df_622['SK']=='62.2'))

                )

# удаляю внутр оборот
df_622 = df_622[~selection_622]

# pivot table

pt00 = pd.pivot_table(df_622, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt622 = pt00.cumsum(axis=1)

pt622

/tmp/ipykernel_13722/3081585140.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_622['Наименование'] = ''
/tmp/ipykernel_13722/3081585140.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_622['ДС'] = ''
/tmp/ipykernel_13722/3081585140.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_622['ДС'] = pd.to_numeric(df_622['ДС'], errors = 'coerce')

Год                     2022  2023
Наименование
5.62 Авансы полученные -61.9 -84.1

In [77]:
# сальдо сч 62.2 на 15 мая 2023: -84.062 млн.руб.

### 5.68 Расчеты по налогам

In [78]:
df_68 = df[(((df['SD'].str[:2]=='68') | (df['SK'].str[:2]=='68'))
            )]
df_68


# Наименование
df_68['Наименование'] = ''

df_68.loc[df_68['SD'].str[:2]=='68', 'Наименование'] = '5.68 Расчеты по налогам'
df_68.loc[df_68['SK'].str[:2]=='68', 'Наименование'] = '5.68 Расчеты по налогам'


df_68['Наименование'].unique()

# столбех с суммой
df_68['ДС'] = ''

df_68.loc[df_68['SD'].str[:2]=='68', 'ДС'] = df_68['ST']
df_68.loc[df_68['SK'].str[:2]=='68', 'ДС'] = df_68['ST']*-1


df_68['ДС'] = pd.to_numeric(df_68['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_68 = (((df_68['SD'].str[:2]=='68') & (df_68['SK'].str[:2]=='68')) 
                )

# удаляю внутр оборот
df_68 = df_68[~selection_68]

# pivot table

pt00 = pd.pivot_table(df_68, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt68 = pt00.cumsum(axis=1)

pt68

/tmp/ipykernel_13722/3543378544.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_68['Наименование'] = ''
/tmp/ipykernel_13722/3543378544.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_68['ДС'] = ''
/tmp/ipykernel_13722/3543378544.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_68['ДС'] = pd.to_numeric(df_68['ДС'], errors = 'coerce')

Год                      2022  2023
Наименование
5.68 Расчеты по налогам   1.5   1.6

In [79]:
# контроль 1С сальдо на на 15 мая 2023: +1568.43 тыс.руб.

### 5.69 Расчеты по соц взносам

In [80]:
df_69 = df[(((df['SD'].str[:2]=='69') | (df['SK'].str[:2]=='69'))
            )]
df_69


# Наименование
df_69['Наименование'] = ''

df_69.loc[df_69['SD'].str[:2]=='69', 'Наименование'] = '5.69 Расчеты по соц взносам'
df_69.loc[df_69['SK'].str[:2]=='69', 'Наименование'] = '5.69 Расчеты по соц взносам'


df_69['Наименование'].unique()

# столбех с суммой
df_69['ДС'] = ''

df_69.loc[df_69['SD'].str[:2]=='69', 'ДС'] = df_69['ST']
df_69.loc[df_69['SK'].str[:2]=='69', 'ДС'] = df_69['ST']*-1


df_69['ДС'] = pd.to_numeric(df_69['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_69 = (((df_69['SD'].str[:2]=='69') & (df_69['SK'].str[:2]=='69')) 
                )

# удаляю внутр оборот
df_69 = df_69[~selection_69]

# pivot table

pt00 = pd.pivot_table(df_69, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt69 = pt00.cumsum(axis=1)

pt69

/tmp/ipykernel_13722/1205345909.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_69['Наименование'] = ''
/tmp/ipykernel_13722/1205345909.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_69['ДС'] = ''
/tmp/ipykernel_13722/1205345909.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_69['ДС'] = pd.to_numeric(df_69['ДС'], errors = 'coerce')

Год                          2022  2023
Наименование
5.69 Расчеты по соц взносам  -1.2  -2.2

In [81]:
# контроль 1С сальдо на 15 мая 2023 сч 69: +1439.4 тыс.руб.

### 5.70 Расчеты с персоналом

In [82]:
df_70 = df[(((df['SD'].str[:2]=='70') | (df['SK'].str[:2]=='70'))
            )]
df_70


# Наименование
df_70['Наименование'] = ''

df_70.loc[df_70['SD'].str[:2]=='70', 'Наименование'] = '5.70 Расчеты с персоналом'
df_70.loc[df_70['SK'].str[:2]=='70', 'Наименование'] = '5.70 Расчеты с персоналом'


df_70['Наименование'].unique()

# столбех с суммой
df_70['ДС'] = ''

df_70.loc[df_70['SD'].str[:2]=='70', 'ДС'] = df_70['ST']
df_70.loc[df_70['SK'].str[:2]=='70', 'ДС'] = df_70['ST']*-1


df_70['ДС'] = pd.to_numeric(df_70['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_70 = (((df_70['SD'].str[:2]=='70') & (df_70['SK'].str[:2]=='70')) 
                )

# удаляю внутр оборот
df_70 = df_70[~selection_70]

# pivot table

pt00 = pd.pivot_table(df_70, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt70 = pt00.cumsum(axis=1)

pt70

/tmp/ipykernel_13722/1975925747.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_70['Наименование'] = ''
/tmp/ipykernel_13722/1975925747.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_70['ДС'] = ''
/tmp/ipykernel_13722/1975925747.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_70['ДС'] = pd.to_numeric(df_70['ДС'], errors = 'coerce')

Год                        2022  2023
Наименование
5.70 Расчеты с персоналом   0.0   0.8

In [83]:
# контроль 1С сальдо на 15 мая 2023 сч 70: +868.1 тыс.руб.

### 5.71 Расчеты с подотч лицами

In [84]:
df_71 = df[(((df['SD'].str[:2]=='71') | (df['SK'].str[:2]=='71'))
            )]
df_71


# Наименование
df_71['Наименование'] = ''

df_71.loc[df_71['SD'].str[:2]=='71', 'Наименование'] = '5.71 Расчеты с подотч лицами'
df_71.loc[df_71['SK'].str[:2]=='71', 'Наименование'] = '5.71 Расчеты с подотч лицами'


df_71['Наименование'].unique()

# столбех с суммой
df_71['ДС'] = ''

df_71.loc[df_71['SD'].str[:2]=='71', 'ДС'] = df_71['ST']
df_71.loc[df_71['SK'].str[:2]=='71', 'ДС'] = df_71['ST']*-1


df_71['ДС'] = pd.to_numeric(df_71['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_71 = (((df_71['SD'].str[:2]=='71') & (df_71['SK'].str[:2]=='71')) 
                )

# удаляю внутр оборот
df_71 = df_71[~selection_71]

# pivot table

pt00 = pd.pivot_table(df_71, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt71 = pt00.cumsum(axis=1)

pt71

/tmp/ipykernel_13722/861584465.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_71['Наименование'] = ''
/tmp/ipykernel_13722/861584465.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_71['ДС'] = ''
/tmp/ipykernel_13722/861584465.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_71['ДС'] = pd.to_numeric(df_71['ДС'], errors = 'coerce')

Год                           2022  2023
Наименование
5.71 Расчеты с подотч лицами   0.0  -0.1

In [85]:
# контроль 1С сальдо на 15 мая 2023 сч 70: -83.94 тыс.руб.

### 5.75 Расчеты с учредителями

In [86]:
df_75 = df[(((df['SD'].str[:2]=='75') | (df['SK'].str[:2]=='75'))
            )]
df_75


# Наименование
df_75['Наименование'] = ''

df_75.loc[df_75['SD'].str[:2]=='75', 'Наименование'] = '5.75 Расчеты с учредителями'
df_75.loc[df_75['SK'].str[:2]=='75', 'Наименование'] = '5.75 Расчеты с учредителями'


df_75['Наименование'].unique()

# столбех с суммой
df_75['ДС'] = ''

df_75.loc[df_75['SD'].str[:2]=='75', 'ДС'] = df_75['ST']
df_75.loc[df_75['SK'].str[:2]=='75', 'ДС'] = df_75['ST']*-1


df_75['ДС'] = pd.to_numeric(df_75['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_75 = (((df_75['SD'].str[:2]=='75') & (df_75['SK'].str[:2]=='75')) 
                )

# удаляю внутр оборот
df_75 = df_75[~selection_75]

# pivot table

pt00 = pd.pivot_table(df_75, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt75 = pt00.cumsum(axis=1)

pt75

/tmp/ipykernel_13722/933261971.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_75['Наименование'] = ''
/tmp/ipykernel_13722/933261971.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_75['ДС'] = ''
/tmp/ipykernel_13722/933261971.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_75.loc[df_75['SK'].str[:2]=='75', 'ДС'] = df_75['ST']*-1
/tmp/ipykernel_13722/933261971.py:19: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_75.loc[df_75['SK'].str[:2]=='75', 'ДС'] = df_75['ST']*-1
/tmp/ipykernel_13722/933261971.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_75['ДС'] = pd.to_numeric(df_75['ДС'], errors = 'coerce')

Год                          2022
Наименование
5.75 Расчеты с учредителями   0.0

In [87]:
# контроль 1С сальдо на 15 мая 2023 сч 70: 0 тыс.руб.

### 5.76 Расчеты с прочими деб и кред

In [88]:
df_76 = df[(((df['SD'].str[:2]=='76') | (df['SK'].str[:2]=='76'))
            )]
df_76


# Наименование
df_76['Наименование'] = ''

df_76.loc[df_76['SD'].str[:2]=='76', 'Наименование'] = '5.76 Расчеты с прочими деб и кред'
df_76.loc[df_76['SK'].str[:2]=='76', 'Наименование'] = '5.76 Расчеты с прочими деб и кред'


df_76['Наименование'].unique()

# столбех с суммой
df_76['ДС'] = ''

df_76.loc[df_76['SD'].str[:2]=='76', 'ДС'] = df_76['ST']
df_76.loc[df_76['SK'].str[:2]=='76', 'ДС'] = df_76['ST']*-1


df_76['ДС'] = pd.to_numeric(df_76['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_76 = (((df_76['SD'] =='76.7.2') & (df_76['SK'] =='76.5')) |
                ((df_76['SD'] =='76.7.2') & (df_76['SK'] =='76.7.1')) |
                ((df_76['SD'] =='76.7.5') & (df_76['SK'] =='76.7.1')) |
                ((df_76['SD'] =='76.7.9') & (df_76['SK'] =='76.7.1')) |
                ((df_76['SD'] =='76.7.1') & (df_76['SK'] =='76.7.2')) |
                ((df_76['SD'] =='76.7.1') & (df_76['SK'] =='76.7.5')) |
                ((df_76['SD'] =='76.7.1') & (df_76['SK'] =='76.7.9')) |
                ((df_76['SD'] =='76.9') & (df_76['SK'] =='76.9'))
                )

# удаляю внутр оборот
df_76 = df_76[~selection_76]

# pivot table

pt00 = pd.pivot_table(df_76, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt76 = pt00.cumsum(axis=1)

pt76

/tmp/ipykernel_13722/2242054341.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_76['Наименование'] = ''
/tmp/ipykernel_13722/2242054341.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_76['ДС'] = ''
/tmp/ipykernel_13722/2242054341.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_76['ДС'] = pd.to_numeric(df_76['ДС'], errors = 'coerce')

Год                                  2022    2023
Наименование
5.76 Расчеты с прочими деб и кред -4695.0 -8091.9

In [89]:
# контроль 1С сальдо на 15 мая 2023 сч 70: +8091.7 тыс.руб.

# pt76.iloc[-1:1]

### 5.79 Внутрихоз. расчеты

In [90]:
# df_79 = df[(((df['SD'].str[:2]=='79') | (df['SK'].str[:2]=='79'))
#             )]
# df_79


# # Наименование
# df_79['Наименование'] = ''

# df_79.loc[df_79['SD'].str[:2]=='79', 'Наименование'] = '5.79 Внутрихоз. расчеты'
# df_79.loc[df_79['SK'].str[:2]=='79', 'Наименование'] = '5.79 Внутрихоз. расчеты'


# df_79['Наименование'].unique()

# # столбех с суммой
# df_79['ДС'] = ''

# df_79.loc[df_79['SD'].str[:2]=='79', 'ДС'] = df_79['ST']
# df_79.loc[df_79['SK'].str[:2]=='79', 'ДС'] = df_79['ST']*-1


# df_79['ДС'] = pd.to_numeric(df_79['ДС'], errors = 'coerce')


# # все транзакции с внутр оборотом
# selection_79 = (((df_79['SD'].str[:2]=='79') & (df_79['SK'].str[:2]=='79')) 
#                 )

# # удаляю внутр оборот
# df_79 = df_79[~selection_79]

# # pivot table

# pt00 = pd.pivot_table(df_79, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# # pt00.dropna(0, inplace=True)


# pt00 = pt00['ДС']

# # перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
# pt79 = pt00.cumsum(axis=1)

# pt79

### 5.96 Резервы предстоящих расходов

In [91]:
df_96 = df[(((df['SD'].str[:2]=='96') | (df['SK'].str[:2]=='96'))
            )]
df_96


# Наименование
df_96['Наименование'] = ''

df_96.loc[df_96['SD'].str[:2]=='96', 'Наименование'] = '5.96 Резервы предстоящих расходов'
df_96.loc[df_96['SK'].str[:2]=='96', 'Наименование'] = '5.96 Резервы предстоящих расходов'


df_96['Наименование'].unique()

# столбех с суммой
df_96['ДС'] = ''

df_96.loc[df_96['SD'].str[:2]=='96', 'ДС'] = df_96['ST']
df_96.loc[df_96['SK'].str[:2]=='96', 'ДС'] = df_96['ST']*-1


df_96['ДС'] = pd.to_numeric(df_96['ДС'], errors = 'coerce')


# все транзакции с внутр оборотом
selection_96 = (((df_96['SD'].str[:2]=='96') & (df_96['SK'].str[:2]=='96')) 
                )

# удаляю внутр оборот
df_96 = df_96[~selection_96]

# pivot table

pt00 = pd.pivot_table(df_96, index=['Наименование'], values=['ДС'], columns=['Год'], aggfunc=np.sum, fill_value='0', margins=False).astype(float)

# pt00.dropna(0, inplace=True)


pt00 = pt00['ДС']

# перевожу сводную табл. в нараст итог что бы были видны цифры на конец периода
pt96 = pt00.cumsum(axis=1)

pt96

/tmp/ipykernel_13722/3060515680.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_96['Наименование'] = ''
/tmp/ipykernel_13722/3060515680.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_96['ДС'] = ''
/tmp/ipykernel_13722/3060515680.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_96['ДС'] = pd.to_numeric(df_96['ДС'], errors = 'coerce')

Год                                2022  2023
Наименование
5.96 Резервы предстоящих расходов  -5.0  -7.2

In [92]:
# контроль 1С сальдо на 15 мая 2023 сч 96: -7170.0 тыс.руб.

### 5. Краткосрочные обязательства свод

In [93]:
# соед все pt в один

# temp = ([pt60, pt622, pt68, pt69, pt70, pt71, pt75, pt76, pt79, pt96])
temp = ([pt60, pt622, pt68, pt69, pt70, pt71, pt75, pt76, pt96])

pt_temp = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_5 = pt_temp.transpose()

pt_5['5.999 Итого краткосрочные обязательства'] = pt_5.sum(axis=1)

pt_5 = pt_5.transpose()

pt_5

Год                                        2022    2023
Наименование
5.60 Расчеты с поставщиками              -411.5   -34.8
5.62 Авансы полученные                    -61.9   -84.1
5.68 Расчеты по налогам                     1.5     1.6
5.69 Расчеты по соц взносам                -1.2    -2.2
5.70 Расчеты с персоналом                   0.0     0.8
5.71 Расчеты с подотч лицами                0.0    -0.1
5.75 Расчеты с учредителями                 0.0     NaN
5.76 Расчеты с прочими деб и кред       -4695.0 -8091.9
5.96 Резервы предстоящих расходов          -5.0    -7.2
5.999 Итого краткосрочные обязательства -5173.1 -8217.8

In [94]:
# меняю знак
pt_51 = pt_5*-1

pt_51

Год                                       2022   2023
Наименование
5.60 Расчеты с поставщиками              411.5   34.8
5.62 Авансы полученные                    61.9   84.1
5.68 Расчеты по налогам                   -1.5   -1.6
5.69 Расчеты по соц взносам                1.2    2.2
5.70 Расчеты с персоналом                 -0.0   -0.8
5.71 Расчеты с подотч лицами              -0.0    0.1
5.75 Расчеты с учредителями               -0.0    NaN
5.76 Расчеты с прочими деб и кред       4695.0 8091.9
5.96 Резервы предстоящих расходов          5.0    7.2
5.999 Итого краткосрочные обязательства 5173.1 8217.8

In [95]:
# соед без итога по группе

pt_52 = pd.concat(temp).sort_values(by='Наименование', ascending=True)

pt_52

Год                                  2022    2023
Наименование
5.60 Расчеты с поставщиками        -411.5   -34.8
5.62 Авансы полученные              -61.9   -84.1
5.68 Расчеты по налогам               1.5     1.6
5.69 Расчеты по соц взносам          -1.2    -2.2
5.70 Расчеты с персоналом             0.0     0.8
5.71 Расчеты с подотч лицами          0.0    -0.1
5.75 Расчеты с учредителями           0.0     NaN
5.76 Расчеты с прочими деб и кред -4695.0 -8091.9
5.96 Резервы предстоящих расходов    -5.0    -7.2

## Баланс

In [96]:
# соед групп в баланс для проверки сходимости. В итоге должен быть 0

temp_1 = ([pt_12, pt_22, pt_32, pt_42, pt_52])

pt_temp_1 = pd.concat(temp_1).sort_values(by='Наименование', ascending=True)

balance_1 = pt_temp_1.transpose()

balance_1['Итого Баланс'] = balance_1.sum(axis=1)

balance_1 = balance_1.transpose()

balance_1.fillna(0, inplace=True)

balance_1

Год                                        2022     2023
Наименование
1.01 Основные срества                    4348.1   7764.0
1.08 Вложения во внеоборотные активы     5250.6   8236.3
1.09 Отлож. налоговые активы             1123.5   1751.5
2.10 Материалы                              0.2      1.3
2.19 НДС                                  590.6    959.0
2.20 Затраты осн. производства              0.0      0.2
2.26 Общехозяйственные расходы              0.0      2.6
2.50 ДС                                    89.2     92.4
2.58 Финансовые вложения                 3755.2   3755.2
2.60.2 Авансы выданные                   1058.5    984.5
2.62 Долги покупателей                      2.4      1.4
2.63 Резервы по сомнительным долгам        -0.2     -0.2
2.97 Расходы буд периодов                   9.3      7.5
3.80 Уставный капитал                    -300.0   -300.0
3.83 Добавочный капитал                  -339.9   -339.9
3.84 Нераспред. прибыль / убыток          186.7    186.7
3.90 Рузультат продаж                       0.0      1.9
3.91 Результат проч. доходов и расходов     0.0     24.6
3.99 Результат налог на прибыль             0.0     -5.3
4.67 Долгосрочные займы и кредиты       -9532.2 -13214.3
4.77 Отлеженные налог обяз-ва           -1069.0  -1691.8
5.60 Расчеты с поставщиками              -411.5    -34.8
5.62 Авансы полученные                    -61.9    -84.1
5.68 Расчеты по налогам                     1.5      1.6
5.69 Расчеты по соц взносам                -1.2     -2.2
5.70 Расчеты с персоналом                   0.0      0.8
5.71 Расчеты с подотч лицами                0.0     -0.1
5.75 Расчеты с учредителями                 0.0      0.0
5.76 Расчеты с прочими деб и кред       -4695.0  -8091.9
5.96 Резервы предстоящих расходов          -5.0     -7.2
Итого Баланс                                0.0     -0.1

In [97]:
# соед групп в баланс 

temp_2 = ([pt_1, pt_2, pt_31, pt_41, pt_51])

balance_2 = pd.concat(temp_2).sort_values(by='Наименование', ascending=True)

balance_2

Год                                        2022    2023
Наименование
1.01 Основные срества                    4348.1  7764.0
1.08 Вложения во внеоборотные активы     5250.6  8236.3
1.09 Отлож. налоговые активы             1123.5  1751.5
1.999 Итого внеоборотные активы         10722.2 17751.8
2.10 Материалы                              0.2     1.3
2.19 НДС                                  590.6   959.0
2.20 Затраты осн. производства              0.0     0.2
2.26 Общехозяйственные расходы              NaN     2.6
2.50 ДС                                    89.2    92.4
2.58 Финансовые вложения                 3755.2  3755.2
2.60.2 Авансы выданные                   1058.5   984.5
2.62 Долги покупателей                      2.4     1.4
2.63 Резервы по сомнительным долгам        -0.2    -0.2
2.97 Расходы буд периодов                   9.3     7.5
2.999 Итого оборотные активы             5505.3  5803.9
3.80 Уставный капитал                     300.0   300.0
3.83 Добавочный капитал                   339.9   339.9
3.84 Нераспред. прибыль / убыток         -186.7  -186.7
3.90 Рузультат продаж                       NaN    -1.9
3.91 Результат проч. доходов и расходов    -0.0   -24.6
3.99 Результат налог на прибыль            -0.0     5.3
3.999 Итого капитал                       453.2   432.1
4.67 Долгосрочные займы и кредиты        9532.2 13214.3
4.77 Отлеженные налог обяз-ва            1069.0  1691.8
4.999 Итого долгосрочные обязательства  10601.2 14906.0
5.60 Расчеты с поставщиками               411.5    34.8
5.62 Авансы полученные                     61.9    84.1
5.68 Расчеты по налогам                    -1.5    -1.6
5.69 Расчеты по соц взносам                 1.2     2.2
5.70 Расчеты с персоналом                  -0.0    -0.8
5.71 Расчеты с подотч лицами               -0.0     0.1
5.75 Расчеты с учредителями                -0.0     NaN
5.76 Расчеты с прочими деб и кред        4695.0  8091.9
5.96 Резервы предстоящих расходов           5.0     7.2
5.999 Итого краткосрочные обязательства  5173.1  8217.8

In [98]:
# Актив только
temp_A = ([pt_12, pt_22])

pt_temp_A = pd.concat(temp_A).sort_values(by='Наименование', ascending=True)

active = pt_temp_A.transpose()

active['2.9999 Итого Актив'] = active.sum(axis=1)

active = active.transpose()

active

Год                                     2022    2023
Наименование
1.01 Основные срества                 4348.1  7764.0
1.08 Вложения во внеоборотные активы  5250.6  8236.3
1.09 Отлож. налоговые активы          1123.5  1751.5
2.10 Материалы                           0.2     1.3
2.19 НДС                               590.6   959.0
2.20 Затраты осн. производства           0.0     0.2
2.26 Общехозяйственные расходы           NaN     2.6
2.50 ДС                                 89.2    92.4
2.58 Финансовые вложения              3755.2  3755.2
2.60.2 Авансы выданные                1058.5   984.5
2.62 Долги покупателей                   2.4     1.4
2.63 Резервы по сомнительным долгам     -0.2    -0.2
2.97 Расходы буд периодов                9.3     7.5
2.9999 Итого Актив                   16227.5 23555.7

In [99]:
# строка с итогом актива для окончательного баланса

act_itog = active[-1:]

act_itog

Год                   2022    2023
Наименование
2.9999 Итого Актив 16227.5 23555.7

In [100]:
# Пассив только
temp_P = ([pt_32, pt_42, pt_52])

pt_temp_P = pd.concat(temp_P).sort_values(by='Наименование', ascending=True)

passive = pt_temp_P.transpose()

passive['5.9999 Итого Пассив'] = passive.sum(axis=1)

passive = passive.transpose()

passive

Год                                         2022     2023
Наименование
3.80 Уставный капитал                     -300.0   -300.0
3.83 Добавочный капитал                   -339.9   -339.9
3.84 Нераспред. прибыль / убыток           186.7    186.7
3.90 Рузультат продаж                        NaN      1.9
3.91 Результат проч. доходов и расходов      0.0     24.6
3.99 Результат налог на прибыль              0.0     -5.3
4.67 Долгосрочные займы и кредиты        -9532.2 -13214.3
4.77 Отлеженные налог обяз-ва            -1069.0  -1691.8
5.60 Расчеты с поставщиками               -411.5    -34.8
5.62 Авансы полученные                     -61.9    -84.1
5.68 Расчеты по налогам                      1.5      1.6
5.69 Расчеты по соц взносам                 -1.2     -2.2
5.70 Расчеты с персоналом                    0.0      0.8
5.71 Расчеты с подотч лицами                 0.0     -0.1
5.75 Расчеты с учредителями                  0.0      NaN
5.76 Расчеты с прочими деб и кред        -4695.0  -8091.9
5.96 Резервы предстоящих расходов           -5.0     -7.2
5.9999 Итого Пассив                     -16227.5 -23555.9

In [101]:
# строка с итогом пассива для окончательного баланса

pas_itog = passive[-1:]*-1


pas_itog

Год                    2022    2023
Наименование
5.9999 Итого Пассив 16227.5 23555.9

In [102]:
# соед Актив и Пассив  и итоговые строки

temp = ([balance_2, act_itog, pas_itog])

balance_3 = pd.concat(temp).sort_values(by='Наименование', ascending=True) # , ascending=True

balance_3

Год                                        2022    2023
Наименование
1.01 Основные срества                    4348.1  7764.0
1.08 Вложения во внеоборотные активы     5250.6  8236.3
1.09 Отлож. налоговые активы             1123.5  1751.5
1.999 Итого внеоборотные активы         10722.2 17751.8
2.10 Материалы                              0.2     1.3
2.19 НДС                                  590.6   959.0
2.20 Затраты осн. производства              0.0     0.2
2.26 Общехозяйственные расходы              NaN     2.6
2.50 ДС                                    89.2    92.4
2.58 Финансовые вложения                 3755.2  3755.2
2.60.2 Авансы выданные                   1058.5   984.5
2.62 Долги покупателей                      2.4     1.4
2.63 Резервы по сомнительным долгам        -0.2    -0.2
2.97 Расходы буд периодов                   9.3     7.5
2.999 Итого оборотные активы             5505.3  5803.9
2.9999 Итого Актив                      16227.5 23555.7
3.80 Уставный капитал                     300.0   300.0
3.83 Добавочный капитал                   339.9   339.9
3.84 Нераспред. прибыль / убыток         -186.7  -186.7
3.90 Рузультат продаж                       NaN    -1.9
3.91 Результат проч. доходов и расходов    -0.0   -24.6
3.99 Результат налог на прибыль            -0.0     5.3
3.999 Итого капитал                       453.2   432.1
4.67 Долгосрочные займы и кредиты        9532.2 13214.3
4.77 Отлеженные налог обяз-ва            1069.0  1691.8
4.999 Итого долгосрочные обязательства  10601.2 14906.0
5.60 Расчеты с поставщиками               411.5    34.8
5.62 Авансы полученные                     61.9    84.1
5.68 Расчеты по налогам                    -1.5    -1.6
5.69 Расчеты по соц взносам                 1.2     2.2
5.70 Расчеты с персоналом                  -0.0    -0.8
5.71 Расчеты с подотч лицами               -0.0     0.1
5.75 Расчеты с учредителями                -0.0     NaN
5.76 Расчеты с прочими деб и кред        4695.0  8091.9
5.96 Резервы предстоящих расходов           5.0     7.2
5.999 Итого краткосрочные обязательства  5173.1  8217.8
5.9999 Итого Пассив                     16227.5 23555.9

In [103]:
# добавл столбцы

balance_3['изм.абс.'] = (balance_3[2023] - balance_3[2022])

balance_3['изм.отн.'] = ((balance_3['изм.абс.'] / balance_3[2022])*100).round(2)

balance_3.replace([np.inf, -np.inf], 0, inplace=True)

balance_3.fillna('', inplace=True)

balance_3

Год                                        2022    2023 изм.абс. изм.отн.
Наименование
1.01 Основные срества                    4348.1  7764.0   3415.9     78.6
1.08 Вложения во внеоборотные активы     5250.6  8236.3   2985.7     56.9
1.09 Отлож. налоговые активы             1123.5  1751.5    628.0     55.9
1.999 Итого внеоборотные активы         10722.2 17751.8   7029.6     65.6
2.10 Материалы                              0.2     1.3      1.0    472.7
2.19 НДС                                  590.6   959.0    368.4     62.4
2.20 Затраты осн. производства              0.0     0.2      0.2      0.0
2.26 Общехозяйственные расходы                      2.6
2.50 ДС                                    89.2    92.4      3.2      3.6
2.58 Финансовые вложения                 3755.2  3755.2      0.0      0.0
2.60.2 Авансы выданные                   1058.5   984.5    -74.0     -7.0
2.62 Долги покупателей                      2.4     1.4     -1.0    -41.1
2.63 Резервы по сомнительным долгам        -0.2    -0.2      0.0     -0.0
2.97 Расходы буд периодов                   9.3     7.5     -1.8    -19.3
2.999 Итого оборотные активы             5505.3  5803.9    298.6      5.4
2.9999 Итого Актив                      16227.5 23555.7   7328.2     45.2
3.80 Уставный капитал                     300.0   300.0      0.0      0.0
3.83 Добавочный капитал                   339.9   339.9      0.0      0.0
3.84 Нераспред. прибыль / убыток         -186.7  -186.7      0.0     -0.0
3.90 Рузультат продаж                              -1.9
3.91 Результат проч. доходов и расходов    -0.0   -24.6    -24.6      0.0
3.99 Результат налог на прибыль            -0.0     5.3      5.3      0.0
3.999 Итого капитал                       453.2   432.1    -21.2     -4.7
4.67 Долгосрочные займы и кредиты        9532.2 13214.3   3682.1     38.6
4.77 Отлеженные налог обяз-ва            1069.0  1691.8    622.7     58.2
4.999 Итого долгосрочные обязательства  10601.2 14906.0   4304.8     40.6
5.60 Расчеты с поставщиками               411.5    34.8   -376.7    -91.5
5.62 Авансы полученные                     61.9    84.1     22.2     35.8
5.68 Расчеты по налогам                    -1.5    -1.6     -0.1      9.6
5.69 Расчеты по соц взносам                 1.2     2.2      1.0     84.6
5.70 Расчеты с персоналом                  -0.0    -0.8     -0.8      0.0
5.71 Расчеты с подотч лицами               -0.0     0.1      0.1      0.0
5.75 Расчеты с учредителями                -0.0
5.76 Расчеты с прочими деб и кред        4695.0  8091.9   3396.9     72.3
5.96 Резервы предстоящих расходов           5.0     7.2      2.2     43.1
5.999 Итого краткосрочные обязательства  5173.1  8217.8   3044.7     58.9
5.9999 Итого Пассив                     16227.5 23555.9   7328.4     45.2

In [104]:
#Сохранение всех сводных табл в excel файл без форматирования
writer = pd.ExcelWriter('/home/sm360/Documents/Dev/Reports/Кутузов_BS_вар5.xlsx', engine='xlsxwriter')

balance_1.to_excel(writer, sheet_name='balance_1', header = True)
balance_2.to_excel(writer, sheet_name='balance_2', header = True)
balance_3.to_excel(writer, sheet_name='balance_3', header = True)


writer.close()